################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project_ApocSur/LEFTOFF_TRACKER.txt
/Graphics Workshop
/Project_ApocSur/Dev Journal.txt
